{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4/js/bootstrap.bundle.min.js' %}"></script>
    <style>
        body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;
            grid-gap: 48px;
        }

        img {
            margin-bottom: 48px;
        }

        h1 {
            width: 100%;
            text-align: center;
        }

        .form-container {
            border: 2px solid rgb(230, 230, 230);
            border-radius: 12px;
            padding: 36px;
        }
    </style>
</head>

<body>
    <div>
        <img src="{% static 'assets/images/shgb_logo.png' %}">
        <h1>SHGB NACH Outward Mandates Portal</h1>
    </div>

    <div class="form-container">
        <form id="form" action="{% url 'authentication:login' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="exampleInputEmail1">{{ field.label }}</label>
                <input name="{{ field.name }}" type="{{ field.name }}" class="form-control" id="id_{{ field.name }}" placeholder="{{ field.name }}">
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

</body>

</html>