{% load static %}

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4/js/bootstrap.bundle.min.js' %}"></script>
    <style>
        body {
            display: grid;
            grid-template-columns: 1fr auto auto 1fr;
            align-items: center;
            justify-items: center;
            grid-gap: 96px;
        }

        img {
            margin-bottom: 48px;
        }

        h1 {
            width: 100%;
            text-align: center;
        }

    </style>
</head>

<body>
    <div></div>
    <div class="text-center">
        <img src="{% static 'assets/images/shgb_logo.png' %}" style="height: 192px;">
        <h1>NACH Outward Mandates Portal</h1>
        <small class="text-muted">
            Digital Banking Division, Head Office, Sarva Haryana Gramin Bank<br>
            Email: mandate@shgbank.co.in
        </small>
    </div>

    <div class="form-container bg-light p-5 border rounded" style="min-width: 256px;">
        <h6 class="mb-4">Enter your credentials:</h6>

        <form id="form" action="{% url 'authentication:login' %}" method="post">
            {% csrf_token %}

            <div class="form-group mb-0 mt-3">
                <!-- <label for="username">Username</label> -->
                <input name="username" type="text" class="form-control" id="id_username" placeholder="Username">
            </div>

            <div class="form-group mb-0 mt-3">
                <!-- <label for="password">Password</label> -->
                <input name="password" type="password" class="form-control" id="id_password" placeholder="Password">
            </div>

            
            <div class="text-right mb-4">
                <input type="checkbox" id="showPassword" class="align-middle">
                <small class="text-muted">Show Password</small>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>

    </div>
    <div></div>

</body>

<script>
        showPassword.addEventListener('change', function () {
            if (this.checked) {
                id_password.setAttribute('type', 'text');
            } else {
                id_password.setAttribute('type', 'password');
            }
        });
</script>

</html>