<div id="cancelReqModalMain" style="
    background-color: rgba(182, 182, 182, 0.5);
    display: none;
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(2px);
">
    <div id="cancelReqModalContainer" style="
        padding: 32px;
        border: 1px solid lightgrey;
        border-radius: 6px;
        background-color: white;
    ">
        <h4 id="cancelReqModalHeading" class="mb-4">
            Are you sure?
        </h4>

        <div id="cancelReqModalContents"></div>

        <p>
            This active mandate <strong id="modalUmrn">UMRN Here</strong> will be cancelled at NPCI portal permanently.
        </p>
        <p>
            This cannot be undone.
        </p>

        <div id="cancelReqModalButtons" class="text-center" style="margin-top: 6px;">
            <button class="btn btn-outline-dark btn-sm" id="cancelReqModalBack">Back</button>
            <button class="btn btn-danger btn-sm" id="cancelReqModalSubmit">Confirm cancellation of active mandate</button>
        </div>
    </div>
</div>