{% load extras %}
{% load static %}

<!DOCTYPE html>

<html>
<head>
	<title>{% block title %}SHGB NACH Mandates Portal{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'mandate/style.css' %}">
	
	<script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>

	<script src="{% static 'popper/popper.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-4/js/bootstrap.bundle.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}">
	<script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'cropperjs/cropper.min.css' %}">
	<script src="{% static 'cropperjs/cropper.min.js' %}"></script>

	{% block stylesheet %}{% endblock %}
</head>

<body>
	<div class="topbar no-print">
		{% block topbar %}
		<div class="topbar-left">
			<a class="topbar-item" href="/mandates/">Home</a>
			<a class="topbar-item" href="/mandates/create/">New Mandate</a>
			<a class="topbar-item" href="/mandates/download/">Download Mandate</a>
		</div>
		<div class="topbar-right">
			<div class="topbar-item">{{request.user}}</div>
		</div>
		{% endblock %}
	</div>
	
	<div id="content" class="content">
		{% block content %}
		<p>Hello</p>
		{% endblock %}
	</div>
</body>
</html>