{% extends "mandate/base.html" %}

{% load humanize %}

{% block topbar %}
{{block.super}}
<a class="topbar-item" href="/mandates/create/">Create Mandate</a>
{% endblock %}

{% block content %}

<!-- main container start -->
<div style="width: 1000px;">
<!-- image upload pending -->
<h4>Pending for image upload</h4>
<p class="text-muted">Image is mandatory. Please upload image for final submission.</p>
<table class="table text-center table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Debtor Name</th>
        <th scope="col">Debtor Bank</th>
        <th scope="col">Debtor Acc No.</th>
        <th scope="col">UMRN</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
        {% for m in mandates_pending_image %}
        <tr>
            <td scope="row"><a href="/mandates/mandate/{{m.id}}/">{{m.id}}</a></td>
            <td>{{m.name_of_debtor_account_holder}}</td>
            <td>{{m.debtor_bank}}</td>
            <td>{{m.debtor_legal_account_number}}</td>
            <td>{{m.umrn}}</td>
            <td>{{m.amount|intcomma}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

<!-- image uploaded -->
 <h4>Image uploaded and submitted</h4>
<table class="table text-center table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Debtor Name</th>
        <th scope="col">Debtor Bank</th>
        <th scope="col">Debtor Acc No.</th>
        <th scope="col">UMRN</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
        {% for m in mandates %}
        <tr>
            <td scope="row"><a href="/mandates/mandate/{{m.id}}/">{{m.id}}</a></td>
            <td>{{m.name_of_debtor_account_holder}}</td>
            <td>{{m.debtor_bank}}</td>
            <td>{{m.debtor_legal_account_number}}</td>
            <td>{{m.umrn}}</td>
            <td>{{m.amount|intcomma}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div> 
<!-- main container end -->

{% endblock %}