{% extends "mandate/base.html" %}

{% load extras %}
{% load static %}
{% load humanize %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'mandate/mandate_details.css' %}">{% endblock %}

{% block content %}

	{% if not mandate.mandate_image %}
	<div class="alert alert-info text-center mb-0" role="alert">
		You can take a printout of the pre-filled mandate form
		<a style="font-weight: bold;" href="print">here</a>.
	</div>
	{% endif %}

	<div class="status-container" id="status-container">
		{% if mandate.mandate_image %}
		
		<p style="margin:0;">Image uploaded and mandate submitted successfully.</p>
		
		{% else %}
		
		<div id="loadingModal" style="display: none;position: absolute;left:0;top:0;bottom:0;right:0;background-color: white;opacity: 0.75;z-index: 1000;">
			<img src="/media/mandate/static/assets/images/spinner.gif" style="
			margin: auto;
			object-fit: contain;
			max-width: 72px;
			max-height: 72px;
		">
		</div>
		
		<p>Mandate image is not uploaded, upload it here:</p>
		<form action = "/mandates/mandate/{{mandate.id}}/" method="post" enctype="multipart/form-data">		
			{% csrf_token %}
			{{form}}
			
			<div id="preview-container" class="preview-container"></div>
			
			<div id="formButtons" class="form-buttons">
				<button id="resetBtn" type="button" class="btn btn-outline-dark btn-sm" onClick="form.reset()">Reset</button>

				<div id="rotateBtn" class="btn-group" role="group" aria-label="Basic example">
					<button id="rotateLeft" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="/media/mandate/static/assets/images/arrow-counterclockwise.svg"></div>
					</button>

					<button id="fitWidth" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="/media/mandate/static/assets/images/arrows.svg"></div>
					</button>
					
					<button id="fitCanvas" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="/media/mandate/static/assets/images/arrows-angle-contract.svg"></div>
					</button>
					
					<button id="rotateRight" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="/media/mandate/static/assets/images/arrow-clockwise.svg"></div>
					</button>
				</div>

				<button id="cropBtn" type="button" class="btn btn-danger btn-sm">Crop</button>
				<button id="originalBtn" type="button" class="btn btn-info btn-sm">Use Original</button>
				<button id="submitBtn" type="button" class="btn btn-primary btn-sm">Submit Image</button>
			</div>
		</form>
		{% endif %}
	</div>

	<div class="mandate-details">
		<div>
	
			<div class="key">{{mandate|verbose_name:'umrn'}}</div>
			<div class="value">{{mandate.umrn}}UMRN WILL COME HERE</div>
	
			<div class="key">{{mandate|verbose_name:'message_reference'}}</div>
			<div class="value">{{mandate.message_reference}}</div>
	
			<div class="key">{{mandate|verbose_name:'currency'}}</div>
			<div class="value">{{mandate.currency}}</div>
	
			<div class="key">{{mandate|verbose_name:'fixed_or_max'}}</div>
			<div class="value">{{mandate.get_fixed_or_max_display}}</div>
	
			<div class="key">{{mandate|verbose_name:'amount'}}</div>
			<div class="value">{{mandate.amount|intcomma}}</div>
	
			<div class="key">{{mandate|verbose_name:'category'}}</div>
			<div class="value">{{mandate.category}}</div>

			<div class="key">{{mandate|verbose_name:'frequency'}}</div>
			<div class="value">{{mandate.frequency}}</div>
	
			<div class="key">{{mandate|verbose_name:'date_of_mandate'}}</div>
			<div class="value">{{mandate.date_of_mandate}}</div>
	
		</div>


		<div>

			<div class="key">{{mandate|verbose_name:'start_date'}}</div>
			<div class="value">{{mandate.start_date}}</div>
	
			<div class="key">{{mandate|verbose_name:'end_date'}}</div>
			<div class="value">{{mandate.end_date}}</div>
	
			<div class="key">{{mandate|verbose_name:'name_of_debtor_account_holder'}}</div>
			<div class="value">{{mandate.name_of_debtor_account_holder}}</div>
	
			<div class="key">{{mandate|verbose_name:'debtor_bank'}}</div>
			<div class="value">{{mandate.debtor_bank}}</div>
	
			<div class="key">{{mandate|verbose_name:'debtor_acc_type'}}</div>
			<div class="value">{{mandate.debtor_acc_type}}</div>
	
			<div class="key">{{mandate|verbose_name:'debtor_legal_account_number'}}</div>
			<div class="value">{{mandate.debtor_legal_account_number}}</div>
	
			<div class="key">{{mandate|verbose_name:'credit_account'}}</div>
			<div class="value">{{mandate.credit_account}}</div>
		</div>
	</div>


	{% if mandate.mandate_image %}
	<div class="mandate-image-container">
		<img class="img" src="/media/{{mandate.mandate_image}}">
	</div>

	{% else %}
	<script src="{% static 'mandate/image_upload.js' %}" id="{{mandate.id}}"></script>
	{% endif %}
{% endblock %}