{% extends "mandate/base.html" %}

{% load extras %}
{% load static %}
{% load humanize %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'mandate/mandate_details.css' %}">{% endblock %}

{% block content %}

	{% if not mandate.mandate_image %}
	<div class="alert alert-info text-center mb-0" role="alert">
		You can take a printout of the pre-filled mandate form
		<a style="font-weight: bold;" href="print">here</a>.
	</div>
	{% endif %}

	<div class="status-container" id="status-container">
		{% if mandate.mandate_image %}
		
		<p style="margin:0;">Image uploaded and mandate submitted successfully.</p>
		
		{% else %}
		
		<div id="loadingModal" style="display: none;position: absolute;left:0;top:0;bottom:0;right:0;background-color: white;opacity: 0.75;z-index: 1000;">
			<img src="/media/mandate/static/assets/images/spinner.gif" style="
			margin: auto;
			object-fit: contain;
			width: 72px;
			height: 72px;
			max-height: 50%;
		">
		</div>
		
		<p id="guideMessage">Mandate image is not uploaded, upload it here:</p>
		<form action = "/mandates/mandate/{{mandate.id}}/" method="post" enctype="multipart/form-data">		
			{% csrf_token %}
			{{form}}
			
			<div id="preview-container" class="preview-container"></div>
			
			<div id="formButtons" class="form-buttons">

				<button id="resetBtn" type="button" class="btn btn-outline-dark btn-sm" onClick="form.reset()">Reset</button>

				<div id="pdfButtons">
					<button id="prev" type="button" class="btn btn-warning btn-sm">Previous</button>
					<button id="sel" type="button" class="btn btn-info btn-sm">Select</button>
					<button id="next" type="button" class="btn btn-warning btn-sm">Next</button>
				</div>

				<div id="rotateBtn" class="btn-group" role="group" aria-label="Basic example">
					<button id="rotateLeft" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="/media/mandate/static/assets/images/arrow-counterclockwise.svg"></div>
					</button>

					<button id="fitWidth" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="/media/mandate/static/assets/images/arrows.svg"></div>
					</button>
					
					<button id="fitCanvas" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="/media/mandate/static/assets/images/arrows-angle-contract.svg"></div>
					</button>
					
					<button id="rotateRight" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="/media/mandate/static/assets/images/arrow-clockwise.svg"></div>
					</button>
				</div>

				<button id="cropBtn" type="button" class="btn btn-danger btn-sm">Crop</button>
				<button id="originalBtn" type="button" class="btn btn-info btn-sm">Use Original</button>
				<button id="submitBtn" type="button" class="btn btn-primary btn-sm">Submit Image</button>
			</div>
		</form>
		{% endif %}
	</div>

	<!-- List of presentations -->
	{% if presentation %}
	<h6>Mandate presentations on NPCI portal</h6>
	<table class="table table-sm">
		<thead>
		  <tr>
			<th scope="col">UMRN</th>
			<th scope="col">Presentation Time</th>
			<th scope="col">Status</th>
			<th scope="col">Reason</th>
			<th scope="col">Error</th>
		  </tr>
		</thead>
		<tbody>
		  {% for p in mandate.presentation_set.all %}
		  <tr>
			<th scope="row">{{p.npci_umrn}}</th>
			<td>{{p.npci_upload_time|date:"d-m-Y g:i:s A"}}</td>
			<td>{{p.npci_status}}</td>
			<td>{{p.npci_reason_code}}</td>
			<td>{{p.npci_upload_error}}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	{% endif %}

	<div class="mandate-details">
		<div>	
			<div class="key">Seq No/Ref.</div>
			<div class="value" id="ref">{% if mandate.ref %}{{mandate.ref}}{% endif %}</div>
	
			<div class="key">{{mandate|verbose_name:'currency'}}</div>
			<div class="value">{{mandate.currency}}</div>
	
			<div class="key">{{mandate|verbose_name:'debit_type'}}</div>
			<div class="value">{{mandate.get_debit_type_display}}</div>
	
			<div class="key">{{mandate|verbose_name:'amount'}}</div>
			<div class="value">{{mandate.amount|intcomma}}</div>
	
			<div class="key">{{mandate|verbose_name:'category'}}</div>
			<div class="value">{{mandate.category}}</div>

			<div class="key">{{mandate|verbose_name:'frequency'}}</div>
			<div class="value">{{mandate.frequency}}</div>
	
			<div class="key">{{mandate|verbose_name:'date'}}</div>
			<div class="value">{{mandate.date|date:"d-m-Y"}}</div>

			<div class="key">{{mandate|verbose_name:'start_date'}}</div>
			<div class="value">{{mandate.start_date|date:"d-m-Y"}}</div>
	
			<div class="key">{{mandate|verbose_name:'end_date'}}</div>
			<div class="value">{{mandate.end_date|date:"d-m-Y"}}</div>

			<div class="key">{{mandate|verbose_name:'debit_date'}}</div>
			<div class="value">{{mandate.get_debit_date_display}}</div>
		</div>


		<div>
			<div class="key">{{mandate|verbose_name:'debtor_name'}}</div>
			<div class="value">{{mandate.debtor_name}}</div>
	
			<div class="key">{{mandate|verbose_name:'debtor_bank'}}</div>
			<div class="value">{{mandate.debtor_bank}}</div>
	
			<div class="key">{{mandate|verbose_name:'debtor_acc_type'}}</div>
			<div class="value">{{mandate.debtor_acc_type}}</div>
	
			<div class="key">{{mandate|verbose_name:'debtor_acc_no'}}</div>
			<div class="value">{{mandate.debtor_acc_no}}</div>

			<div class="key">{{mandate|verbose_name:'debtor_acc_ifsc'}}</div>
			<div class="value">{{mandate.debtor_acc_ifsc}}</div>
	
			<div class="key">{{mandate|verbose_name:'credit_account'}}</div>
			<div class="value">{{mandate.credit_account}}</div>

			<div class="key">create_user</div>
			<div class="value">{{mandate.create_user}}</div>

			<div class="key">create_time</div>
			<div class="value">{{mandate.create_time|date:"d-m-Y g:i:s A"}}</div>

			<div class="key">submit_user</div>
			<div class="value">{{mandate.submit_user}}</div>

			<div class="key">submit_time</div>
			<div class="value">{{mandate.submit_time|date:"d-m-Y g:i:s A"}}</div>

		</div>
	</div>


	{% if mandate.mandate_image %}
	<div class="mandate-image-container">
		<img class="img" src="/media/{{mandate.mandate_image}}">
	</div>

	{% else %}
	<script src="{% static 'mandate/image_upload.js' %}" id="{{mandate.id}}" type="module"></script>
	{% endif %}
{% endblock %}