{% extends "mandate/base.html" %}

{% load extras %}
{% load static %}

{% block content %}
<form id="form" style="width: 700px;" action="{% url 'mandate:mandate_create' %}" method="post" enctype="multipart/form-data">
	<p style="font-weight: bold; font-size: 22px; margin: 2px;">Mandate Form</p>

	{% csrf_token %}

	{{ form.non_field_errors }}
	{% for field in form %}
    <div class="form-group row no-gutters">
		
		<label for="id_{{ field.name }}" class="col-sm-5 col-form-label">
			{{ field.label }}
			{% if field.errors %}
			<small class="form-text text-danger m-0 p-0">{{ field.errors.as_text }}</small>
			{% endif %}			
		</label>
		
		<div class="col-sm-6">
			{{ field }}
			
			{% if field.help_text %}
			<small class="form-text text-muted">{{ field.help_text }}</small>
			{% endif %}

		</div>
		<div class="col-sm-1 col-form-label font-weight-bold px-2">
			<span id="id_{{ field.name }}_y" class="text-success d-none">✓</span>
			<span id="id_{{ field.name }}_n" class="text-danger d-none">X</span>
		</div>
	</div>
	{% endfor %}

	<button class="btn btn-primary" type="submit">Submit</button>
</form>

<script src="{% static 'mandate/form_validate.js' %}"></script>

{% endblock %}