{% extends "mandate/base.html" %}

{% load extras %}
{% load static %}
{% load humanize %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'mandate/mandate_details.css' %}">{% endblock %}

{% block content %}

	{% if mandate.init_req_flag %}
	<div class="alert alert-warning text-center" role="alert">
		Request submitted, pending for upload on NPCI portal.
	</div>
	{% endif %}

	{% if not mandate.mandate_image %}
	<div class="alert alert-info text-center mb-0" role="alert">
		You can take a printout of the pre-filled mandate form
		<a style="font-weight: bold;" href="print">here</a>.
	</div>


	<div class="status-container" id="status-container">

		<!-- loader modal -->
		<div id="loadingModal" style="display: none;position: absolute;left:0;top:0;bottom:0;right:0;background-color: white;opacity: 0.75;z-index: 1000;">
			<img src="{% static 'assets/images/spinner.gif' %}" style="
			margin: auto;
			object-fit: contain;
			width: 72px;
			height: 72px;
			max-height: 50%;
		">
		</div>
		
		<p id="guideMessage">Mandate image is not uploaded, upload it here:</p>
		<form action = "/mandates/mandate/{{mandate.id}}/" method="post" enctype="multipart/form-data">		
			{% csrf_token %}
			{{form}}
			
			<div id="preview-container" class="preview-container"></div>
			
			<div id="formButtons" class="form-buttons">

				<button id="resetBtn" type="button" class="btn btn-outline-dark btn-sm" onClick="form.reset()">Reset</button>

				<div id="pdfButtons">
					<button id="prev" type="button" class="btn btn-warning btn-sm">Previous</button>
					<button id="sel" type="button" class="btn btn-info btn-sm">Select</button>
					<button id="next" type="button" class="btn btn-warning btn-sm">Next</button>
				</div>

				<div id="rotateBtn" class="btn-group" role="group" aria-label="Basic example">
					<button id="rotateLeft" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="{% static 'assets/images/arrow-counterclockwise.svg' %}"></div>
					</button>

					<button id="fitWidth" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="{% static 'assets/images/arrows.svg' %}"></div>
					</button>
					
					<button id="fitCanvas" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="{% static 'assets/images/arrows-angle-contract.svg' %}"></div>
					</button>
					
					<button id="rotateRight" type="button" class="btn btn-warning btn-sm">
						<div class="icon-container"><img src="{% static 'assets/images/arrow-clockwise.svg' %}"></div>
					</button>
				</div>

				<button id="cropBtn" type="button" class="btn btn-danger btn-sm">Crop</button>
				<button id="originalBtn" type="button" class="btn btn-info btn-sm">Use Original</button>
				<button id="submitBtn" type="button" class="btn btn-primary btn-sm">Submit Image</button>
			</div>
		</form>
		
	</div>
	{% endif %}

	<!-- List of presentations -->
	{% if presentation %}
	<h6>Mandate presentations on NPCI portal</h6>
	<table class="table table-sm">
		<thead class="thead-light">
		  <tr>
			<th scope="col">UMRN</th>
			<th scope="col">Presentation Time</th>
			<th scope="col">Current status</th>
		  </tr>
		</thead>
		<tbody>
		  {% for p in presentation %}
		  <tr class="alert">
			<th scope="row">{{p.npci_umrn}}</th>
			<td>{{p.npci_upload_time|date:"d-m-Y g:i:s A"}}</td>
			<td class="text-{{p.get_status.class}}">{{p.get_status.message}}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	{% endif %}

	{% if mandate.can_init %}
	<div class="container px-4 py-3 my-4 border">
		<form id="reInitForm" class="mb-2 text-center" action="/mandates/mandate/{{mandate.id}}/reinit_request/" method="post">
			{% csrf_token %}
			<button id="reInitBtn" type="submit" class="btn btn-danger btn-sm">Request Re-initialization</button>
		</form>
		<script>
			reInitBtn.addEventListener('click', function(e) {
				if(confirm('Do you want to re-initiate the mandate with same details and image?')) {
					reInitForm.submit();
				} else {
					e.preventDefault();
				}
			})
		</script>

		<p class="m-0"><small class="text-muted">You can request re-initialization of the rejected mandate. Maximum 3 initializations allowed as per NPCI policy.</small></p>
		<p class="m-0"><small class="text-muted font-weight-bold">Note: If you want to make ANY changes to the mandate details, please create a new mandate request instead.</small></p>
	</div>
	{% endif %}

<!-- details and image container -->
<div class="container px-4 py-3 my-4 border">
	<div class="row">
		<div class="col-sm mw-mc">
			<p class="mb-1"><span class="font-weight-bold mr-2">Ref.</span>{% if mandate.ref %}<span id="ref">{{mandate.ref}}</span>{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'office'}}</span>{% if mandate.office %}{{mandate.office}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'frequency'}}</span>{% if mandate.frequency %}{{mandate.get_frequency_display}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'date'}}</span>{% if mandate.date %}{{mandate.date|date:"d-m-Y"}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'start_date'}}</span>{% if mandate.start_date %}{{mandate.start_date|date:"d-m-Y"}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'end_date'}}</span>{% if mandate.end_date %}{{mandate.end_date|date:"d-m-Y"}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'amount'}}</span>₹ {% if mandate.amount %}{{mandate.amount|intcomma}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'credit_account'}}</span>{% if mandate.credit_account %}{{mandate.credit_account}}{% endif %}</p>
		</div>
		<div class="col-sm mw-mc">
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'debtor_bank'}}</span>{% if mandate.debtor_bank %}{{mandate.debtor_bank}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'debtor_acc_type'}}</span>{% if mandate.debtor_acc_type %}{{mandate.debtor_acc_type}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'debtor_acc_no'}}</span>{% if mandate.debtor_acc_no %}{{mandate.debtor_acc_no}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'debtor_acc_ifsc'}}</span>{% if mandate.debtor_acc_ifsc %}{{mandate.debtor_acc_ifsc}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'debtor_name'}}</span>{% if mandate.complete_name %}{{mandate.complete_name}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'phone'}}</span>{% if mandate.phone %}{{mandate.phone}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'email'}}</span>{% if mandate.email %}{{mandate.email}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'debit_date'}}</span>{% if mandate.debit_date %}{{mandate.get_debit_date_display}}{% endif %}</p>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-sm mw-mc">
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'create_time'}}</span> {% if mandate.create_time %}{{mandate.create_time|date:"d-m-Y g:i:s A"}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'submit_time'}}</span> {% if mandate.submit_time %}{{mandate.submit_time|date:"d-m-Y g:i:s A"}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'last_init_req_time'}}</span> {% if mandate.last_init_req_time %}{{mandate.last_init_req_time|date:"d-m-Y g:i:s A"}}{% endif %}</p>
		</div>
		<div class="col-sm mw-mc">
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'create_user'}}</span> {% if mandate.create_user %}{{mandate.create_user}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'submit_user'}}</span> {% if mandate.submit_user %}{{mandate.submit_user}}{% endif %}</p>
			<p class="mb-1"><span class="font-weight-bold mr-2">{{mandate|verbose_name:'last_init_req_user'}}</span> {% if mandate.last_init_req_user %}{{mandate.last_init_req_user}}{% endif %}</p>
		</div>
	</div>
	{% if mandate.mandate_image %}
	<hr>
		
	<div>
		<img class="img" src="/media/{{mandate.mandate_image}}">
	</div>

	{% else %}
	<script src="{% static 'mandate/image_upload.js' %}" id="{{mandate.id}}" type="module"></script>
	{% endif %}	
</div>

<div class="container m-4">
	<div class="row text-center justify-content-center">
		{% if not mandate.presentation_set.count and mandate.mandate_image %}
		<form id="undoImageForm" action="{% url 'mandate:delete_image' id=mandate.id %}" method="post" class="mx-2">
			{% csrf_token %}
			<button id="undoImage" class="btn btn-danger btn-sm" type="submit">Undo Image Upload</button>
		</form>
		<script>
			undoImage.addEventListener('click', function(e) {
				if(confirm('Are you sure you want to delete the mandate image?\nThe mandate will not be considered submitted unless the image is uploaded again.')) {
					undoImageForm.submit();
				} else {
					e.preventDefault();
				}
			})
		</script>
		{% endif %}
		
		{% if request.user.userextended.office.type == 'HO' %}
		<a id="cloneButton" class="btn btn-warning btn-sm mx-2" href="{% url 'mandate:mandate_clone' id=mandate.id %}">Clone Mandate</a>
		{% endif %}
	</div>
</div>



{% endblock %}