{% extends "mandate/base.html" %}

{% load extras %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'mandate/test.css' %}">
<link rel="stylesheet" href="{% static 'mandate/testpdf.css' %}">
{% endblock %}

{% block content %}
<h1>NPCI Status upload</h1>
<form action="{% url 'mandate:npcistatus' %}" method="post" enctype="multipart/form-data">

	{% csrf_token %}

    {{form}}

    <button type="submit">Submit</button>

</form>

{% if messages %}

<table class="table table-sm text-center">
    <thead>
        <tr>
            <th scope="col">UMRN</th>
            <th scope="col">Status</th>
            <th scope="col">Code</th>
            <th scope="col">Saved</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <td>{{message.umrn}}</td>
            <td>{{message.status}}</td>
            <td>{{message.code}}</td>
            <td>
                {% if message.save %}
                Yes
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}