{% extends "mandate/base.html" %}

{% load humanize %}

{% block content %}

<!-- main container start -->
<div style="width: 1000px;">
<!-- image upload pending -->

<!-- image uploaded -->
<h4>Image uploaded and submitted</h4>
<p class="text-right">Showing {{ cur_page.start_index }} - {{ cur_page.end_index }}</p>
<table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Debtor Name</th>
        <th scope="col">Debtor Bank</th>
        <th scope="col">Debtor Acc No.</th>
        <th scope="col">UMRN</th>
        <th scope="col" class="text-right">Amount</th>
      </tr>
    </thead>
    <tbody>
        {% for m in cur_page %}
        <tr>
            <td scope="row" class="text-center"><a href="/mandates/mandate/{{m.id}}/">{{m.id}}</a></td>
            <td>{{m.name_of_debtor_account_holder}}</td>
            <td>{{m.debtor_bank}}</td>
            <td>{{m.debtor_legal_account_number}}</td>
            <td>{{m.umrn}}</td>
            <td class="text-right">{{m.amount|intcomma}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if not cur_page.has_previous %} disabled{% endif %}">
        {% if cur_page.has_previous %}<a class="page-link" href="../{{cur_page.previous_page_number}}/">
        {% else %} <a class="page-link" href="#">
        {% endif %}Previous</a>
      </li>
      
      {% for i in range %}
      <li class="page-item {% if i == cur_page.number %} disabled font-weight-bold{% endif %}"><a class="page-link" href="../{{i}}/">{{i}}</a></li>
      {% endfor %}
      
      <li class="page-item {% if not cur_page.has_next %} disabled{% endif %}">
        {% if cur_page.has_next %}<a class="page-link" href="../{{cur_page.next_page_number}}/">
        {% else %}<a class="page-link" href="#">
        {% endif %}Next</a>
      </li>
    </ul>
  </nav>
</div> 
<!-- main container end -->

{% endblock %}