{% extends "mandate/base.html" %}

{% load humanize %}
{% load static %}

{% block content %}

<!-- main container start -->
<div style="min-width: 1000px;">

<h3>All submitted mandates</h3>

<form class="form-inline" action="/mandates/1/">

  {% for field in form %}
  <label class="mr-sm-2 col-form-label">{{ field.label }}</label>
  {{ field }}
  {% endfor %}

  <button type="submit" class="btn btn-sm btn-primary">Filter</button>
</form>

<p class="text-right">Showing {{ mandates.start_index }} - {{ mandates.end_index }}</p>

{% include './include/mandate_table.html' %}

  <nav aria-label="Page navigation" id="nav">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if not mandates.has_previous %} disabled{% endif %}">
        {% if mandates.has_previous %}<a class="page-link" href="../{{mandates.previous_page_number}}/">
        {% else %} <a class="page-link" href="#">
        {% endif %}Previous</a>
      </li>
      
      {% for i in range %}
      <li class="page-item {% if i == mandates.number %} disabled font-weight-bold{% endif %}"><a class="page-link" href="../{{i}}/">{{i}}</a></li>
      {% endfor %}
      
      <li class="page-item {% if not mandates.has_next %} disabled{% endif %}">
        {% if mandates.has_next %}<a class="page-link" href="../{{mandates.next_page_number}}/">
        {% else %}<a class="page-link" href="#">
        {% endif %}Next</a>
      </li>
    </ul>
  </nav>
</div> 
<!-- main container end -->

<script src="{% static 'mandate/paginate.js' %}"></script>

{% endblock %}