.mandate-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 840px;
	justify-content: center;
	margin: auto;
    background-color: rgb(245 245 245);
	/* border: solid lightgray 1px; */
    border-radius: 4px;
    padding: 1em 2em;
}

.key {
    font-weight: bold;
    color: lightslategrey;
    font-size: 12px;
    margin-top: 0.75em;
}

.value {
	/* margin-bottom: 0.75em; */
}

.status-container {
	position: relative;
	display: grid;
	justify-content: center;
	text-align: center;	
	width: 840px;
	border: 1px solid lightgrey;
	border-radius: 4px;
	padding: 8px 20px;
	margin: 20px auto;
}

.mandate-image-container {
	width: 840px;
	display: grid;
	align-items: start;
	justify-content: center;
	margin: 24px auto;
}

.preview-container {
	max-height: 600px;
	width: 792px;
	display: none;
	transition: all 0.5s;
	overflow: hidden;
}

.img {
	width: 100%;
	object-fit: contain;
	border: 2px solid lightgrey;
}

.form-buttons > .btn,
.form-buttons > .btn-group,
.form-buttons > #pdfButtons {
	display: none;
}

.icon-container {
	height: 15px;
	width: 15px;
	position: relative;
	margin: 3px;
}

.icon-container > img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.form-buttons {
	margin: 12px;
}

#fitWidth {
	display: none;
}

#guideMessage {
	font-style: italic;
}